<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="trash" data-view="Trash" data-title="Müllabfuhr" data-text="Nix" data-date="01.01.1970" style="background-color:#111;"></div>
    </li>
  </ul>
</div>
